
body {
    background-image: url(https://townsquare.media/site/295/files/2014/10/QueenAlbums.jpg?w=980&q=75);
    background-repeat: repeat;
    background-attachment: fixed;
}

.minititulos{
   @extend %minititulos
}