@import "base/colors";
.btn2{
	border-radius: 3rem;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	box-shadow: 0 1rem 1rem rgba(0,0,0,0.3); 
}

.btn-green2{
	color: white;
	background-color: $boton;
	&:hover{
		background-color: $boton;	
	}
	&:active{
		background-color: $boton;
	}
}
