
.btn2{
	border-radius: 3rem;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	box-shadow: 0 1rem 1rem rgba(0,0,0,0.3); 
}

.btn-green2{
	color: white;
	background-color: #314e31;
	&:hover{
		background-color: #2d452d;	
	}
	&:active{
		background-color: #264227;
	}
}
