@import "base/colors";


#contactanos{

    background-color: $bg-formulario;

    margin-top: 5rem;
.tituloform{
    font-size: 2.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.contactanos {
    color: $letras-basico;
    display: flex;
    justify-content: center;
    margin-bottom: 15rem;

.form {
    background-color: $bg-formulario;
    border-radius: 3rem;
    color: #999;
    font-size: 0.8rem;
    width: 25rem;
    display: inline-block;
    text-align: center;
    .field {
        border: solid 1px #ccc;
        padding: 10px;

        &:focus {
            border-color: #18A383;
        }
    }

    input,
    textarea {
        border: 0;
        outline: none;
        width: 280px;
    }

    .center-content {
        text-align: center;
    }
}
}
}