@import "base/colors";
#nosotros {

    width: 100%;
    background-color: $bg-footer;
    margin: 5% 0 13% 0;

    .defansparafans {
        font-size: 3rem;
        color: $letra-footer;
        background-color: $bg-footer;
        display: flex;
        justify-content: center;
    }

    .sectionfooter {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .navredsocial {
            display: flex;

            .ulredsocial {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .liredsocial {
                    width: 6rem;

                    .redsocial {
                        width: 3rem;
                        background-color: $bg-redsocial;
                        border-style: groove $bg-footer;
                    }

                }

            }

        }


    }

}