@import "base/colors";

.divlogo {
    width: 19%;
    height: 12%;
    margin: 0;
    padding: 0;

    .logoqueen {
        width: 6rem;
        margin: 0;
        padding-left: 0;
    }
}

.zonanav {
    background-color: $bg-zonanav;

    .divlogonavbar {
        right: 0;



        .controlesdenavegacion {
            border: 2px solid $color-bolrdes-zonanav;
            font-size: 1.2rem;
        }

        .controlesdenavegacion:hover {
            transition: 1s;
            background-color: $color-fondonav;
            color: black;
        }
    }
}