@import "base/colors";

.divlogo {
    width: 100%;    
    background-color: $color-principal;
    display: flex;
    justify-content: space-around;

    .logoqueen {
        width: 19%;
        height: 12%;
    }
}

.zonanav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.749);
    list-style-type: none;
    flex-wrap: wrap;

    .controlesdenavegacion {
        font-size: 1.3vw;
        list-style-type: none;
        color: white;
        border: 2px $color-fondonav;
        padding: 0 6% 0 6%;
        border-style: solid;
    }

    .controlesdenavegacion:hover {
        transition: 1s;
        background-color: $color-fondonav;
        color: black;
    }
}
