$azul: rgb(68, 68, 241);
$bg-title: rgba(245, 245, 220, 0.686);

$color-principal: rgba(240, 248, 255, 0.626);
$color-fondonav: rgb(209, 187, 187);
$backgroundcolor: rgba(19, 18, 18, 0.829);
$bg-historia:rgb(53, 48, 48);
$letras-basico: aliceblue;
$bg-formulario: rgba(53, 48, 48, 0.768);
