$azul: rgb(68, 68, 241);
$bg-title: rgba(245, 245, 220, 0.686);

$color-principal: rgba(240, 248, 255, 0.626);
$color-fondonav: rgb(209, 187, 187);
$backgroundcolor: rgba(19, 18, 18, 0.829);
$bg-historia:rgb(53, 48, 48);
$letras-basico: aliceblue;
$bg-formulario: rgba(53, 48, 48, 0.768);
$bg-zonanav: rgba(253, 254, 255, 0.829);
$color-bolrdes-zonanav: rgb(209, 187, 187);
$bg-redsocial: rgba(35, 22, 22, 0.526);
$bg-footer: rgba(70, 70, 111, 0.716);
$letra-footer: rgb(129, 194, 245);
$boton: #4d904da2;
$color-formulario: #999;
$formulario-focus: #18A383;
$formulario-field: #ccc;